.app-preview[data-dev-inspect-active] {
  cursor: crosshair;
}

[data-shell-debug-ui] {
  user-select: text;
  -webkit-user-select: text;
}

[data-dev-inspect-copy] {
  user-select: text;
  -webkit-user-select: text;
}
